body {
    max-height: 691px;
    background-image: linear-gradient(#e66465, #9198e5);
}

.pokedex {
    background-color: red;
    border: 2px solid maroon;
    border-bottom: 2px solid red;
    border-style: outset;
    height: 628px;
    width: 450px;
    border-radius: 10px;
    box-shadow: 4px 5px 5px #000;
    position: relative; left: 330px; top: -40px;
}

#main-light {
    background-color: #ddd;
    border: 3px solid #ba0101;
    height: 70px;
    width: 70px;
    border-radius: 50px;
    position: relative; left: 30px; top: 15px;
    z-index: 1;
}

#led {
    background-image: linear-gradient(#34caf4, #258fad);
    border: 1px solid #2badd1;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    position: relative; left: 5px; top: 2px;
    z-index: 2;
}

#shine-one {
    background-color: white;
    opacity: 0.5;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    box-shadow: 0px 0px 15px 10px white;
    position: relative; left: 23px; top: -50px;
    z-index: 3;
}

.light-panel {
    display: flex;
    gap: 25px;
    position: relative; left: -20px; 
}

#red-led {
    background-image: linear-gradient(#ff0000, #c60101);
    border: 2px solid #ba0101;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    position: relative; left: 160px; top: -58px;
    z-index: 2;
}

#shine-two {
    background-color: white;
    opacity: 0.5;
    height: 4px;
    width: 4px;
    border-radius: 50px;
    box-shadow: 1px 1px 8px 5px white;
    position: relative; left: 5px; top: 4px;
    z-index: 3;
}

#yellow-led {
    background-image: linear-gradient(yellow, rgb(182, 182, 0));
    border: 2px solid #ba0101;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    position: relative; left: 160px; top: -58px;
    z-index: 2;
}

#shine-three {
    background-color: white;
    opacity: 0.5;
    height: 4px;
    width: 4px;
    border-radius: 50px;
    box-shadow: 1px 1px 8px 5px white;
    position: relative; left: 5px; top: 4px;
    z-index: 3;
}

#green-led {
    background-image: linear-gradient(#197122, #125419);
    border: 2px solid #ba0101;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    position: relative; left: 160px; top: -58px;
    z-index: 2;
}

#shine-four {
    background-color: white;
    opacity: 0.5;
    height: 4px;
    width: 4px;
    border-radius: 50px;
    box-shadow: 1px 1px 8px 5px white;
    position: relative; left: 5px; top: 4px;
    z-index: 3;
}

/* design for inside of pokedex */
.container-one {
    max-height: 100px;
}

.pokedex-con1 {
    background-color: #e50000; 
    border-top: 3px solid #ba0101;
    border-bottom-left-radius: 10px;
    height: 512px;
    width: 405px;
    z-index: 1;
    position: relative; left: 0px; top: 15px;
}

.pokedex-con2 {
    background-color: #e50000;
    width: 240px;
    height: 39px;
    border-top: 3px solid #ba0101;
    border-left: 4px solid #ba0101;
    border-radius: 2px;
    transform: skew(-40deg);
    z-index: 2;
    position: relative; left: 140px; top: -539px;
}

.pokedex-con3 {
    background-color: #e50000;
    width: 180px;
    height: 200px;
    border-top: 3px solid #ba0101;
    border-radius: 1px;
    z-index: 3;
    position: relative; left: 225px; top: -581px;
}

/* design for pokedex screen */
#pokedex-screen {
    background-color: white;
    border: 3px solid #b3b2b2;
    border-right: 2px solid #b3b2b2;
    border-left: none;
    border-top: none;
    border-radius: 10%;
    width: 340px;
    height: 290px;
    position: relative; left: 30px; bottom: 720px;
    z-index: 3;
}

#screen {
    background-color: black;
    border: 1px solid #000;
    width: 280px;
    height: 210px;
    border-radius: 5%;
    position: relative; left: 29px; bottom: -28px;
}

#small-led-one {
    background-image: linear-gradient(140deg, #ff5e5e 30%, #a90000);
    border: 2px solid #a90000;
    border-left: none;
    border-top: none;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    z-index: 3;
    position: relative; left: 110px; bottom: 24px;
}

#shine-five {
    background-color: white;
    opacity: 0.5;
    height: 1px;
    width: 1px;
    border-radius: 50px;
    box-shadow: 0px 0px 4px 3px white;
    position: relative; left: 5px; top: 4px;
    z-index: 3;
}

#small-led-two {
    background-image: linear-gradient(140deg, #ff5e5e 30%, #a90000);
    border: 2px solid #a90000;
    border-left: none;
    border-top: none;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    z-index: 3;
    position: relative; left: 150px; bottom: 41px;
}

#shine-six {
    background-color: white;
    opacity: 0.5;
    height: 1px;
    width: 1px;
    border-radius: 50px;
    box-shadow: 0px 0px 4px 3px white;
    position: relative; left: 5px; top: 4px;
    z-index: 3;
}

#big-button {
    background-image: linear-gradient(140deg, #fe6161, red);
    border-color: #fc3e3e;
    border-right: 3px solid #ed3e3e;
    border-bottom: 3px solid #eb3d3d;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: relative; left: 20px; bottom: -185px;
}

.box-container {
    display: flex;
    position: relative; left: 120px; bottom: 38px;
}

#box-one {
    background-color: #626262;
    width: 70px;
    height: 5px;
    border-radius: 10px;
    position: relative; left: 80px; bottom: -193px;
    z-index: 3;
}

#box-two {
    background-color: #626262;
    width: 70px;
    height: 5px;
    border-radius: 10px;
    position: relative; left: 10px; bottom: -200px;
    z-index: 3;
}

#box-three {
    background-color: #626262;
    width: 70px;
    height: 5px;
    border-radius: 10px;
    position: relative; left: -60px; bottom: -207px;
    z-index: 3;
}

#box-four {
    background-color: #626262;
    width: 70px;
    height: 5px;
    border-radius: 10px;
    position: relative; left: -130px; bottom: -214px;
    z-index: 3;
}

/* design for lower buttons */
.lower-buttons {
    position: absolute; left: -145px; bottom: -44px;
}

#blue-button {
    background-image: linear-gradient(140deg, #1b63ff, #0000ff);
    height: 50px;
    width: 50px;
    border-color: blue;
    border-right: 3px solid #0000b7;
    border-bottom: 3px solid #0000b7;
    border-radius: 50%;
    position: absolute; left: 175px; top: -180px;
    z-index: 3;
}

#cyan-button {
    background-image: linear-gradient(140deg, #1bb7ff, #1795d0);
    height: 15px;
    width: 60px;
    border-color: #1bb7ff;
    border-right: 2px solid #1795d0;
    border-bottom: 2px solid #1795d0;
    border-radius: 10px;
    position: absolute; left: 343px; top: -195px;
    z-index: 3;
}

#red-button {
    background-image: linear-gradient(140deg, #fe6161, red);
    height: 15px;
    width: 60px;
    border-color: #fe6161;
    border-right: 2px solid #c03232;
    border-bottom: 2px solid #c03232;
    border-radius: 10px;
    position: absolute; left: 273px; top: -195px;
    z-index: 3;
}

/* design for directional button */
.direct-button {
    background-color: #262626;
    height: 20px;
    width: 20px;
    position: relative; left: 465px; top: -145px;
    z-index: 3;
}

#up-button {
    background-image: linear-gradient(160deg, #515151, #262626);
    height: 35px;
    width: 22px;
    border-bottom: none;
    border-radius: 5px;
    position: relative; left: -2px; top: -32px;
}

#left-button {
    background-image: linear-gradient(160deg, #3c3c3c, #262626);
    height: 22px;
    width: 35px;
    border-right: none;
    border-radius: 5px;
    position: relative; left: -32px; top: -40px;
}

#right-button {
    background-color: #262626;
    height: 22px;
    width: 35px;
    border-left: none;
    border-radius: 5px;
    position: relative; left: 17px; top: -63px;
}

#down-button {
    background-color: #262626;
    height: 35px;
    width: 22px;
    border-top: none;
    border-radius: 5px;
    position: relative; left: -2px; top: -67px;
}

/* design for bottom(number) screen */
.number-screen {
    background-image: linear-gradient(#00bb57, #05d809, #00bb57);
    height: 60px;
    width: 120px;
    border: 1px solid green;
    border-radius: 5px;
    box-shadow: inset 0em 0em 1em 0em green;
    position: absolute; left: 277px; top: -120px;
    z-index: 3;
}

#number {
    font-family:'Courier New', Courier, monospace;
    opacity: 0.5;
    font-size: 30px;
    position: relative; left: 35px; top: -16px;
}


/* design for seperation between pokedex content(s) */
.rotators{
    position: relative; left: 0px; top: 30px;
}

.top-rotator {
    background-image: linear-gradient(90deg, #db0101, #ba0101, #db0101);
    border-left: 2px solid #d62c2c;
    height: 40px;
    width: 43px;
    box-shadow: -4px 2px 2px #5a0000;
    position: absolute; left: 405px; top: -154.5px;
    z-index: 4;
}

.main-rotator {
    background-image: linear-gradient(90deg, #db0101, #d53e3e, #db0101);
    border-top: 1px solid maroon;
    border-left: 2px solid #d62c2c;
    border-bottom: 1px solid maroon;
    height: 475px;
    width: 43px;
    box-shadow: -4px 1px 2px #5a0000;
    position: absolute; left: 405px; top: -116px;
    z-index: 5;
}

.bottom-rotator {
    background-image: linear-gradient(90deg, #db0101, #ba0101, #db0101);
    border-top: 1px solid maroon;
    border-left: 2px solid #d62c2c;
    height: 40px;
    width: 43px;
    box-shadow: -4px .5px 2px #5a0000;
    position: absolute; left: 405px; top: 359px;
    z-index: 6;
}


/* all designs below are for second container ONLY */

/* this selector is ONLY here to act as the second 'box-shadow' for the outside of 'container-two' */
.container-shadow {
    transform: scaleX(-1);
    background-color: #e50000; 
    height: 503px;
    width: 400px;
    border-top: 6px solid #ba0101;
    border-left: 6px solid #ba0101;
    border-bottom: 6px solid #ba0101;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: 4px 4.5px 5px #000;
    position: absolute; left: 451px; top: 115px;
}

.container-two {
    max-height: 100%;
}

.pokedex-con4 {
    transform: scaleX(-1);
    background-color: #e50000; 
    height: 503px;
    width: 400px;
    border-top: 6px solid #ba0101;
    border-left: 6px solid #ba0101;
    border-bottom: 6px solid #ba0101;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: inset .5em -.5em 1em maroon;
    z-index: 1;
    position: absolute; left: 451px; top: 115px;
}

.pokedex-con5 {
    background-color: #e50000;
    width: 235px;
    height: 39px;
    border-top: 6px solid #ba0101;
    border-right: 8px solid #ba0101;
    border-radius: 5px;
    transform: skew(40deg);
    z-index: 3;
    position: relative; left: 468.5px; top: -124px;
}

.pokedex-con6 {
    background-color: #e50000;
    width: 180px;
    height: 200px;
    border-top: 6px solid #ba0101;
    border-radius: 1px;
    z-index: 3;
    position: relative; left: 451px; top: -169px;
}

/* this selector is ONLY here to cover the box shadow at the top of '.pokedex-con4' selector */
.pokedex-con7 {
    background-color: #e50000;
    width: 235px;
    height: 39px;
    transform: skew(40deg);
    z-index: 2;
    position: relative; left: 483px; top: -354px;
}

.name-screen {
    background-color: black;
    width: 280px;
    height: 150px;
    border: 1px solid #1a1a1a;
    border-radius: 10px;
    box-shadow: inset 0em 0em 1em -.1em grey;
    position: absolute; left: 510px; top: 160px;
    z-index: 3;
}

.button-grid {
    display: grid;
    grid: 10px;
    gap: 0px;
    border-radius: 5px;
    grid-template-columns: repeat(5, auto);
    position: absolute; left: 525px; top: 335px;
    z-index: 3;
}

.button-grid button {
    background-image: linear-gradient(140deg, #1b63ff, #0000ff);
    font-family:'Courier New', Courier, monospace;
    color: #1b63ff;
    height: 40px;
    width: 50px;
    border-color: #1b63ff;
    border-right: 5px solid #0000c0;
    border-bottom: 7px solid #0000c0;
    border-radius: 5px;
}

.lower-section {
    position: absolute; left: 0px; top: 490px;
}

.function-buttons {
    position: relative; left: 382px; top: 120px;
}

/* sencond set of orange and green buttons */
#grey-button-two {
    background-image: linear-gradient(140deg, #515151, #262626);
    height: 10px;
    width: 50px;
    border-color: #515151;
    border-right: 2px solid #262626;
    border-bottom: 2px solid #262626;
    border-radius: 10px;
    position: relative; left: 229px; top: -195px;
    z-index: 3;
}

#grey-button-one {
    background-image: linear-gradient(140deg, #515151, #262626);
    height: 10px;
    width: 50px;
    border-color: #515151;
    border-right: 2px solid #262626;
    border-bottom: 2px solid #262626;
    border-radius: 10px;
    position: relative; left: 343px; top: -195px;
    z-index: 3;
}

/* led's for second container */
.small-leds {
    display: flex;
    position: relative; left: 380px; top: -25px;
}

#small-led-three {
    background-image: linear-gradient(140deg, #ff5e5e 30%, #a90000);
    border: 2px solid #a90000;
    border-left: none;
    border-top: none;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    z-index: 3;
    position: relative; left: 150px; bottom: 41px;
}

#shine-seven {
    background-color: white;
    opacity: 0.5;
    height: 1px;
    width: 1px;
    border-radius: 50px;
    box-shadow: 0px 0px 4px 3px white;
    position: relative; left: 5px; top: 5px;
    z-index: 3;
}

#small-led-four {
    background-image: linear-gradient(140deg, #ff5e5e 30%, #a90000);
    border: 2px solid #a90000;
    border-left: none;
    border-top: none;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    z-index: 3;
    position: relative; left: 160px; bottom: 41px;
}

#shine-eight {
    background-color: white;
    opacity: 0.5;
    height: 1px;
    width: 1px;
    border-radius: 50px;
    box-shadow: 0px 0px 4px 3px white;
    position: relative; left: 5px; top: 5px;
    z-index: 3;
}

/* design for grey buttons */
.nav-buttons {
    position: relative; left: 475px; top: 10px;
}

#nav-right {
    background-image: linear-gradient(140deg, #d7d7d7, #979797);
    border-color: #d7d7d7;
    border-right: 3px solid #979797;
    border-bottom: 7px solid #979797;
    height: 40px;
    width: 50px;
    border-radius: 5px;
    position: relative; left: 46px; top: -60px;
    z-index: 3;
}

#nav-left {
    background-image: linear-gradient(140deg, #d7d7d7, #979797);
    border-color: #d7d7d7;
    border-right: 3px solid #979797;
    border-bottom: 7px solid #979797;
    height: 40px;
    width: 50px;
    border-radius: 5px;
    position: relative; left: 50px; top: -60px;
    z-index: 3;
}

#final-led {
    background-image: linear-gradient(140deg, #ffe659 50%, #c8af1f);
    height: 42px;
    width: 42px;
    font-size: 20px;
    border-color: #a90000;
    border-right: 2px solid #a90000;
    border-bottom: 2px solid #a90000;
    border-radius: 50%;
    position: relative; left: 255px; top: -102px;
    z-index: 3;
}

#shine-nine {
    background-color: white;
    opacity: 0.5;
    height: 5px;
    width: 5px;
    border-radius: 50px;
    box-shadow: 0px 0px 15px 10px white;
    position: relative; left: 10px; top: 12px;
    z-index: 3;
}

/* designs for type screen (displays what type(s) the pokemon is */
.type-screen {
    position: relative; left: 202px; top: -60px;
}

#primary-type {
    background-color: black;
    height: 50px;
    width: 100px;
    border: 1px solid #1a1a1a;
    border-radius: 5px;
    box-shadow: inset 0em 0em 1em -.1em grey;
    position: absolute; left: 335px; top: 0px;
    z-index: 3;
}

#second-type {
    background-color: black;
    height: 50px;
    width: 100px;
    border: 1px solid #1a1a1a;
    border-radius: 5px;
    box-shadow: inset 0em 0em 1em -.1em grey;
    position: absolute; left: 455px; top: 0px;
    z-index: 3;
}