body {
    height: 680px;
    background-image: linear-gradient(#e66465, #9198e5);
}

.pokedex {
    background-color: red; 
    border: 5px solid maroon;
    height: 630px;
    width: 430px;
    border-radius: 10px;
    box-shadow: 4px 5px 5px #000;
    position: relative; left: 470px; top: -40px;
}

#light {
    background-color: #ddd;
    border: 3px solid maroon;
    height: 70px;
    width: 70px;
    border-radius: 50px;
    position: relative; left: 30px; top: 15px;
    z-index: 1;
}